@font-face {
    font-family: 'Inter-Bold';
    src: url("Inter-Bold.ttf");
}

@font-face {
    font-family: 'Inter-Medium';
    src: url("Inter-Medium.ttf");
}

@font-face {
    font-family: 'Inter-Regular';
    src: url("Inter-Regular.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-family: Inter-Regular, sans-serif, Arial;
    margin-bottom: 20px;
}

.footer a {
    text-align: center;
    letter-spacing: -1px;
    text-decoration: underline;
    color: black;
}

.title h1 {
    font-size: 5rem;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: 'Inter-Bold', sans-serif, Arial;
}

.title p {
    font-family: Inter-Regular, sans-serif, Arial;
    font-size: 1rem;
    letter-spacing: -1px;
    text-align: center;
}

.form-control {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    border: 1px solid black;
    width: 40%;
    text-align: center;
    border-radius: 100px;
    background-color: #f2f2f5;
    padding: 12px;
}

.form-input form {
    display: flex;
    align-items: inherit;
    justify-content: space-between;
}

.form-input input {
    width: 70%;
    margin-left: 10px;
    font-family: Inter-Regular, sans-serif, Arial;
    font-size: 1rem;
    background: transparent;
    float: left;
    letter-spacing: -1px;
    border: none;
    outline: none;
}

.btn-submit {
    background-color: #2A8EFC;
    color: #fff;
    border-radius: 50px;
    border: none;
    font-family: Inter-Regular, sans-serif, Arial;
    font-size: 1rem;
    padding: 13px 25px;
    cursor: pointer;
}

.btn-submit:hover {
    opacity: 0.9;
}

.result {
    font-family: Inter-Regular, sans-serif, Arial;
    font-size: 1rem;
    letter-spacing: -1px;
    margin-top: 25px;
}

.result span {
    display: inline-flex;
    align-items: center;
    background-color: #f2f2f5;
    padding: 8px 15px;
    margin-left: 10px;
    border-radius: 50px;
}

.result span svg {
    margin-left: 8px;
    cursor: pointer;
}

.error {
    font-family: Inter-Regular, sans-serif, Arial;
    font-size: 1rem;
    color: red;
    margin-top: 20px;
}

@media only screen and (max-width: 1050px) {
    .form-input {
        width: 60%;
    }

    .form-input input {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .title h1 {
        margin-top: 50px;
	font-size: 4rem;
    }

    .form-input {
        width: 75%;
    }

    .form-input input {
        margin: 0;
    }

    .btn-submit {
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 365px) {
    .form-input {
        width: 80%;
    }

    .btn-submit {
        padding: 12px 15px;
    }
}